* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  padding: 2px;
}

.setting-container {
  margin-bottom: 5px;
}

.sketch-container {
  display: flex;
  height: 500px;
  width: 500px;
  border: 1px solid black;
  border-radius: 8px;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.grid {
  flex: 1;
}

.trail {
  background: black;
  user-select: none;
}