body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  border: 1px solid black;
  padding: 50px 50px 15px 50px;
}

.setting-container {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.sketch-container {
  display: flex;
  height: 300px;
  width: 500px;
  border: 1px solid black;
  border-radius: 8px;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.grid {
  flex: 1;
}

.trail {
  background: black;
  user-select: none;
}